<section>
	<div class="row">
		<div class="small-12 small-centered columns">
			<input type="text" placeholder="Title" ng-model="title" />
		</div>
	</div>
	<div class="row">
		<div class="small-12 small-centered columns">
			<textarea placeholder="Write something interesting!" class="composeBox" ng-model="content"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="small-12 small-centered columns">
			<div class="greedyButton" ng-click="newPost()">Submit Post</div>
		</div>
	</div>
</section>