<section id="compose">
<div class="row">
    <div class="small-12 large-6 small-centered columns">
        <input type="text" placeholder="Title" ng-model="title" />
    </div>
</div>
<div class="row">
    <div class="small-12 large-6 small-centered columns">
        <input type="text" placeholder="Content" ng-model="content"/>
    </div>
</div>
<div class="row">
    <div class="small-12 large-6 small-centered columns">
        <div class="greedy button" ng-click="newPost()">Submit Post</div>
    </div>
</div>
</section> 