 <div class="post small-12 columns">
        <div ng-transclude class="post_content"></div>
        <div class="post-buttons button-bar">
            <ul class="button-group">
                <li><a class="post-button">permalink</a></li>
            </ul>
            <ul class="button-group">
                <li>
                    <a><img class="post-button" src="../img/hide.png">hide</a>
                </li>
                <li>
                    <a><img class="post-button" src="../img/bump.png">bump</a>
                </li>
                <li>
                    <a ng-click="getComments(true)"><img class="post-button" src="../img/comment.png">comment</a>
                </li>
            </ul>
        </div>
        <div class="comments" ng-show="commentsVisible">
            <div ng-repeat="comment in comments">{{comment.content}}</div>
            <div class="row">
                <div class="small-8 columns">
                    <input type="text" ng-model="commentContent" />
                </div>
                <div ng-click="newComment()" class="small button small-4 columns">submit!</div>
            </div>
        </div>
    </div>