.container {
  margin: 15px 0 0 0; }

.side-bar.panel {
  padding: 15px 0 0 0; }

textarea {
  resize: none;
  min-height: 150px; }

.post {
  margin: 0 0 15px 0; }

.heart {
  width: 10px;
  margin-top: -2px; }

.buttons {
  margin: -10px 0 0 0; }

.buttons > * {
  border-radius: 5px; }

.comments {
  list-style-type: none; }

.greedy {
  width: 100%; }
