.ng-view {
  margin: 15px 0 0 0; }

.greedy {
  width: 100%; }

.post {
  margin: 0 0 15px 0; }
  .post .comments {
    list-style-type: none; }
  .post .buttons {
    margin: -10px 0 0 0; }
    .post .buttons .button {
      border-radius: 5px; }
    .post .buttons .heart {
      width: 10px; }

.compose textarea {
  resize: none;
  min-height: 150px; }
