#io {
    color: #FF5600;
}

.post {
    margin: 15px 0 0 0;
}

.heart {
    width: 10px;
    margin-top: -2px;
}

.buttons {
    margin: -10px 0 0 0;
}

.buttons > * {
    border-radius: 4px;
}

.comments {
    list-style-type: none;
}