.post {
  margin: 0 0 -1px 0; }
  .post .post_content {
    margin: 0 0 -15px 0; }
  .post .buttons {
    float: right;
    margin: 0 10px 0 0;
    opacity: 0;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s; }
    .post .buttons div {
      color: #2ba6cb;
      display: inline;
      font-size: 0.85em;
      margin: 0 20px 0 0; }
  .post .permalink {
    color: #2ba6cb;
    font-size: 0.85em;
    margin: 22px 0 0 10px; }

.post:hover .buttons {
  opacity: 1; }
