.post
    @include panel
    margin: 0
    
    .post_content
        margin: 0 0 0 0
    
    .post-buttons
        .button-group:last-child
            opacity: 0
            float: right
            
        .post-button
            height: 15px
            padding-left: 5px
    
    .comments
        padding: 0 0 0 0

        .submit-button
            width: 100%

    &:hover
        .button-group:last-child
            opacity: 1
            transition: opacity 0.5s
            -webkit-transition: opacity 0.5s