@mixin jagged-edge
    border-image-slice: 60 0 0 0
    border-image-width: 10px 0px 0px 0px
    border-image-outset: 0px 0px 0px 0px
    border-image-repeat: round stretch
    border-image-source: url("../img/commentBorder.svg")
    
.post
    @include panel
    padding: 15px 0 0 0
    margin: 0
    .post-buttons
        padding-bottom: 5px
        .button-group:last-child
            opacity: 0
            float: right
            .post-button
                padding-left: 5px
            
        .post-button
            height: 15px
    
    .comments
        overflow: auto
        width: 100%
        padding: 10px 0 20px 0
        background-color: darken($panel-bg, 10%)
        @include jagged-edge
        .comment
            margin: 0
            border: none
            padding: 5px 0 
        
        .submit-button
            width: 100%

    &:hover
        .button-group:last-child
            opacity: 1
            transition: opacity 0.5s
            -webkit-transition: opacity 0.5s