/*
Syntax error: Undefined mixin 'panel'.
        on line 9 of /home/thebradleybain/GitHub/theguestbook/app/css/post.sass, in `panel'
        from line 9 of /home/thebradleybain/GitHub/theguestbook/app/css/post.sass

4:     border-image-outset: 0px 0px 0px 0px
5:     border-image-repeat: round stretch
6:     border-image-source: url("../img/commentBorder.svg")
7: 
8: .post
9:     @include panel
10:     border-bottom: none
11:     padding: 15px 0 0 0
12:     margin: 0
13:     .post-buttons
14:         padding-bottom: 5px

Backtrace:
/home/thebradleybain/GitHub/theguestbook/app/css/post.sass:9:in `panel'
/home/thebradleybain/GitHub/theguestbook/app/css/post.sass:9
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:318:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:119:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:106:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:126:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:98:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:315:in `_render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:262:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:341:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:235:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:107:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:440:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:307:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec.rb:21:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'panel'.\A         on line 9 of /home/thebradleybain/GitHub/theguestbook/app/css/post.sass, in `panel'\A         from line 9 of /home/thebradleybain/GitHub/theguestbook/app/css/post.sass\A \A 4:     border-image-outset: 0px 0px 0px 0px\A 5:     border-image-repeat: round stretch\A 6:     border-image-source: url(\"../img/commentBorder.svg\")\A 7: \A 8: .post\A 9:     @include panel\A 10:     border-bottom: none\A 11:     padding: 15px 0 0 0\A 12:     margin: 0\A 13:     .post-buttons\A 14:         padding-bottom: 5px"; }
