<section class="about row">
    <div class="small-12 columns">
        <h1>TheGuestbook</h1>
        <h2>The Anti-Social Network</h2>
        <p>We're a different kind of social network. Whereas other networks aim to
            more and more associate everything you do with your real-life identity
            forever, TheGuestbook goes the completely opposite direction. Nothing on
            TheGuestbook can ever be traced back to you, because on this network there
            is no such thing as an account: everything is strictly anonymous. We consider
            ourselves the antithesis of permanent records.</p>
        <p>Because everything you do on TheGuestbook is anonymous, it fosters sincere
            discussions where one can truly express his own opinion. To better encourage
            this goal of truly free expression, we do away with any kind of point system
            found on similar, more popular websites. On TheGuestbook, everyone has
            a right to express their opinion without restriction.</p>
        <p>But, unlike yet another similar website founded on the principal of anonymity
            , the users also have a duty to respect the rights of others. If no one
            respected the rights of others by following their duties, no one would
            have rights in the first place. For these reasons, TheGuestbook as a community
            is called to adhere the following rules:
        
            <ul class="small-offset-1">
                <li>Attempting to reveal another's personal identity is strictly prohibited</li>
                <li>Refrain from any and all illegal activity</li>
                <li>Do not participate or engage in a flame war</li>
                <li>Duplicate posting is not allowed</li>
                <li>Trolling is annoying and outlawed</li>
                <li>Keep it classy</li>
                <li>Don't be stupid</li>
            </ul>
        </p>
    </div>
</section>