<!--This page contains everything a user encns when writing a new
post-->
<div class="row">
    <div class="compose small-12 large-6 large-centered columns">
        <compose></compose>
        <section class="rules panel">
            <h2>Rules</h2>
            <p>Yes, TheGuestbook is an anonymous posting service. That doesn't mean we don't have ards, however. Above all, keep it classy. Here's a list of rules to abide by:
                <ul>
                    <li>Keep it classy</li>
                    <li>Don't be stupid</li>
                </ul>
            </p>
        </section>
    </div>
</div>