<div class="row small-12 large-4 small-centered columns">
    <div class="panel" ng-transclude></div>
    <div class="buttons">
        <span class="like-button button tiny secondary">
            <img class="heart" src="img/heart.png"> Like</span>
        <div class="comment-section">
            <div class="comment-button button tiny secondary">//comment</div>
            <ul class="comments">
                <li>
                    <p>Cupcake ipsum dolor sit amet muffin powder gummi bears croissant. Candy
                        canes gummi bears applicake tiramisu jelly dragée halvah chocolate cake.</p>
                </li>
                <li>
                    <p>Cupcake ipsum dolor sit amet muffin powder gummi bears croissant. Candy
                        canes gummi bears applicake tiramisu jelly dragée halvah chocolate cake.</p>
                </li>
            </ul>
        </div>
    </div>
</div>